:root {
  --primary: #ff6464;
  --primary_hover: #e05c5c;
  --color-main_1: white;
  --color-main_2: #e3f2f7;
  --color-main_3: #21243d;
  --color-main_4: white;
  --color-year: #142850;
  --shadow_1: rgba(0, 0, 0, 0.103);
  --shadow_2: rgba(0, 0, 0, 0.526);
  --shadow_3: rgba(0, 0, 0, 0.526);
  --icon_1: white;
  --icon_2: #142850;
}

.dark_mode {
  --primary: #f07bd6;
  --primary_hover: #f07bd7b2;
  --color-main_2: #1f2130;
  --color-main_1: #161822;
  --color-main_3: #becbcf;
  --color-main_4: #0e0b0f42;
  --color-year: #b5afb8;
  --shadow_1: #000000;
  --shadow_2: #f762eb6b;
  --shadow_3: #8badb6;
  --icon_1: var(--color-main_3);
  --icon_2: #142850;
}

/* .dark_mode{
  --primary: #977DA5;
  --primary_hover: #9C8BA5;
  --color-main_1: #17111A;
  --color-main_2: #120F14;
  --color-main_3: #A58AA1;
  --color-main_4: #0E0612;
  --color-year: #A57B9F;
  --shadow_1: #130711;
  --shadow_2: #13071171;
} */

* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--color-main_3);
}

/* ====================================================================== */

/* ================================= MAIN =============================== */
html {
  font-size: 14px;
  background-color: var(--color-main_1);
  transition: all 0.3s ease 0s;
}

.title {
  font-size: 3.14rem;
  font-weight: 700;
  line-height: 1.2;
  @media (max-width: 768px) {
    font-size: 2.3rem;
  }
}

.text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3;
}

.btn {
  font-weight: 500;
  font-size: 1.5rem;
}

/* =============================== HELLO =============================== */
.hello_container {
  display: flex;
  width: 90vw;
  max-width: 1120px;
  min-height: 40vh;
  align-items: center;
  margin: 3rem auto 2rem;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    text-align: center;
    margin: 2rem auto 1rem;
  }
}

.hello_content {
  padding-right: 110px;

  @media (max-width: 868px) {
    padding-right: 70px;
  }

  @media (max-width: 767px) {
    padding-right: 40px;
  }

  @media (max-width: 768px) {
    padding-right: 0px;
  }
}

.hello_title {
  margin-bottom: 25px;
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.hello_text {
  margin-bottom: 35px;
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.hello_btn {
  height: 47px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-radius: 2px;
  background: var(--primary);
  transition: all 0.3s ease 0s;
  margin-bottom: 25px;
  color: var(--color-main_1);
  cursor: pointer;
  &:hover {
    background: var(--primary_hover);
    font-size: 1.53rem;
  }
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.hello_avatar {
  /* flex-grow / flex-shrink / flex-basis */
  /* не увеличивается / уменьшается / ширина фикс*/
  flex: 0 0 243px;
  width: 243px;
  height: 243px;
  overflow: hidden;
  box-shadow: 5px -5px 0px 3px var(--color-main_2);
  img {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

/* =============================== WORKS =============================== */
.works_container {
  background: var(--color-main_2);
  padding: 2rem 0px;
}

.work_item {
  border-radius: 0.25rem;
  background: var(--color-main_4);
  box-shadow: 0 1px 5px 0 var(--shadow_1);
  transition: 0.1s ease-in-out all;
  &:hover {
    box-shadow: 0px 0px 8px 1px var(--shadow_2);
  }
}

.works_title {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 1120px;
  margin: 0px auto 1rem;
}

.item_category {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 70px;
  border-radius: 16px;
  color: var(--color-main_2);
  background: var(--color-year);
}

.btn-container .item_category {
  margin: 0px 10px 15px 10px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
  &:hover {
    font-size: 1.25rem;
    box-shadow: 0 1px 1px 0px var(--shadow_3);
  }
}

.works_content {
  width: 90vw;
  max-width: 1120px;
  margin: 0px auto 2rem;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));

  @media (max-width: 400px) {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}

.img-container {
  position: relative;
  height: 15rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.social_item_git {
  font-size: 3rem;
  color: var(--color-year);
  position: relative;
  top: -8px;
  left: -8px;
}
.git_dark {
  color: var(--icon_2);
}
.git_white {
  color: var(--icon_1);
}
.none {
  display: none;
}

.img-container img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.work_text {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
}

.works_content .item_category {
  margin-right: 20px;
}

/* ================================ FOOTER ============================== */

.footer {
  text-align: center;
  padding: 50px 0px;
}

.footer_social {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.social_item {
  font-size: 2.2rem;
  color: var(--color-main_3);
  margin-right: 17px;
  &:hover {
    color: var(--primary_hover);
  }
}

.footer_copy {
  font-size: 1.2rem;
}
